@{
    ViewBag.Title = "Contact Us";
}

<div id="contact-us" class="col-centered"></div>

<script src='@Url.Content("~/Scripts/reactdemo/status.bar.jsx")'></script>
<script src='@Url.Content("~/Scripts/reactdemo/contact.us.jsx")'></script>
